<%= form_for(photo_booth) do |f| %>
  <% if photo_booth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_booth.errors.count, "error") %> prohibited this photo_booth from being saved:</h2>

      <ul>
      <% photo_booth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
